@keyframes slideInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -30px);
    }

    15% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    85% {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -30px);
    }
}

.animate-slide-in-out {
    animation: slideInOut 3.2s ease-in-out forwards;
}